---
title: "Practice "
format: html
---

# Testing merge conflicts

Start by importing the required packages:

In [ ]:
import pandas as pd

Let's create a sample dataset to work with:

In [ ]:
# Create Star Wars DataFrame
star_wars_df = pd.DataFrame({
    "name": ["Luke Skywalker", "Darth Vader", "Leia Organa", "Han Solo", "Yoda", "Chewbacca"],
    "height": [172, 202, 150, 180, 66, 228],
    "mass": [77, 136, 49, 80, 17, 112],
    "species": ["Human", "Human", "Human", "Human", "Yoda's species", "Wookiee"]
})
star_wars_df

And do something with it:

In [ ]:
# Your code goes here